<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernextPatches</key>
	<dict>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>MatchOS</key>
				<string>10.12.x-10.13.x</string>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>External icons patch</string>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>MatchOS</key>
				<string>10.12-10.13</string>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable TRIM</string>
				<key>Find</key>
				<data>QVBQTEUgU1NEAA==</data>
				<key>MatchOS</key>
				<string>10.12-10.13</string>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AICPM</string>
				<key>Find</key>
				<data>AXRh</data>
				<key>MatchOS</key>
				<string>10.12-10.13</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>Aeth</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AICPM</string>
				<key>Find</key>
				<data>yXQMDzKD4B9CiUQ7</data>
				<key>MatchOS</key>
				<string>10.12-10.13</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>yesMDzKD4B9CiUQ7</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AICPM</string>
				<key>Find</key>
				<data>dRG5</data>
				<key>MatchOS</key>
				<string>10.12-10.13</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>6xG5</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AICPM</string>
				<key>Find</key>
				<data>/w+ELQ==</data>
				<key>MatchOS</key>
				<string>10.12</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>/w+FLQ==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AICPM</string>
				<key>Find</key>
				<data>yXQVDzIl/w8AAEg=</data>
				<key>MatchOS</key>
				<string>10.12</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>yesVDzIl/w8AAEg=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AICPM</string>
				<key>Find</key>
				<data>AQABD4Q=</data>
				<key>MatchOS</key>
				<string>10.12-10.13</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>AQABD4U=</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AICPM</string>
				<key>Find</key>
				<data>PnU4</data>
				<key>MatchOS</key>
				<string>10.12-10.13</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>PpCQ</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AICPM</string>
				<key>Find</key>
				<data>/w+E0w==</data>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>/w+F0w==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AICPM</string>
				<key>Find</key>
				<data>yXQUDzIl/w8AAGs=</data>
				<key>MatchOS</key>
				<string>10.13</string>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelCPUPowerManagement</string>
				<key>Replace</key>
				<data>yesUDzIl/w8AAGs=</data>
			</dict>
		</array>
	</dict>
	<key>Preferences</key>
	<dict>
		<key>Debug</key>
		<true/>
		<key>KernelPatchesWholePrelinked</key>
		<false/>
		<key>Off</key>
		<false/>
		<key>SaveLogToFile</key>
		<true/>
	</dict>
</dict>
</plist>
